/*--------------------------*/
/* Прописываем базовые стили*/
@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 400;
  src: local("MontserratRegular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat Medium";
  font-style: normal;
  font-weight: 500;
  src: local("MontserratMedium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Garamond Premier Pro";
  src: local("Garamond Premier Pro Regular"),
    local("Garamond-Premier-Pro-Regular"),
    url("../fonts/GaramondPremrPro.woff2") format("woff2"),
    url("../fonts/GaramondPremrPro.woff") format("woff"),
    url("../fonts/GaramondPremrPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Montserrat Regular";
  font-size: 1rem;
  background-color: #ffffff;
  color: #000000;
  overflow-y: hidden;
}

* {
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

li {
  list-style: none;
}

a,
a:active {
  color: inherit;
  text-decoration: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
/*------------------------------------*/
/*--Прописываем стили полей и кнопок--*/
button {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Montserrat Regular";
}
input {
  font-family: "Montserrat Regular";
  font-size: 20px;
  color: #000000;
}
input::placeholder {
  color: #cbcbcb;
}
.search__field {
}

.menu__close-icon {
  width: 20px;
  height: 20px;
}
.menu__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.beta {
  position: absolute;
  right: 2%;
  top: 33px;
  z-index: 1;
  background: #ffffff;
  color: #707070;
  font-family: "Montserrat Regular";
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 3px 15px;
}

.header__desktop {
  margin-bottom: 40px;
}

/*---------------------------------*/
/*--Cтилизуем навигацию слайдеров--*/
.nav_group {
  position: relative;
  display: flex;
  width: 120%;
  left: -2.8rem;
  bottom: -5.5rem;
}
.swiper-button-next {
  right: 0px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #dedede;
  border-radius: 5px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5rem;
}
/*----------------------------*/
/*--Прописываем стили заказа--*/

.no-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.sp-margin {
  margin-bottom: -26px;
}
.app {
  display: grid;
  grid-template-columns: 32rem 1fr;
}

.header__mobile {
  display: none;
  height: 0;
}
.order {
  overflow-x: auto;
  height: 100vh;
  left: 0;
  background: #ffffff;
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 0px 7.36px 0.64px rgba(0, 0, 0, 0.39);
  z-index: 4;
  box-sizing: border-box;
  position: relative;
  overflow-y: scroll;
}
.image-width-spesh {
  width: 160px;
}
.order::-webkit-scrollbar {
  width: 5px;
  z-index: 3;
}

.order::-webkit-scrollbar-track {
  background: transparent;
}

.order::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 3;
}

.conteiner {
  width: 82%;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.pop-mod {
  width: 100%;
  display: block;
  padding: 10px 0;
}

.chapter__title {
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 40px;
}
.button__hide {
  display: none;
}
.driver__favorite {
  width: 28px;
  height: 28px;
  top: -5%;
  right: 28%;
  position: absolute;
}
.driver__favoritee {
  width: 22px;
  height: 22px;
  top: -5%;
  right: -5%;
  position: absolute;
}
.driver__person {
  position: relative;
  text-align: center;
  margin-bottom: 57px;
}
.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-top: 2rem;
  /* padding-bottom: 2rem; */
  margin-bottom: 15px;
}

.button__order {
  background-color: #000000;
  width: 100%;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Montserrat Regular";
  font-weight: 300;
  border-radius: 5px;
}

.button__order--disabled {
  background-color: #c4c4c4;
  cursor: not-allowed;
}
.tirest {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tirest__title {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 18px;
}
.tiresm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tiresm__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 10px;
}
.tiresm__gap {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  bottom: -1rem;
  position: relative;
}
.tiresm__step {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
.tiresm__input {
  max-width: 185px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 25%);
  text-transform: uppercase;
  box-sizing: border-box;
  max-height: 37px;
  background: #ffffff;
  border: 1px solid #e3dfdf;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 37px;
  color: #c7c7c7;
  display: flex;
  align-items: center;
}
.tiresc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 27px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black !important;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.cls-1 path {
  fill: none;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
.cls-1.favourite path {
  fill: white;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
.cls-2 path {
  fill: gray;
  stroke: gray;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.app__window {
  top: 0;
  left: 0;
  width: 30rem;
  padding: 40px 30px;
  z-index: 10;
  background-color: #ffffff;
}
/*--Стилизуем POP-UP "Бургер-меню" (Выезжающий слайдер влево)--*/
.user__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 49;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.spesh_con_plus {
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 5px;
}
.spesh_con_plus img {
  width: 50px;
  height: 50px;
}
.button_nextt {
  display: block;
  padding: 10px;
  border-radius: 5px;
  background: #c4c4c4;
  pointer-events: none;
  transition: all 0.3s ease 0s;
}
.button_nextt_con {
  cursor: default;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
.user__popup.open {
  opacity: 1;
  visibility: visible;
}
.user__popup.open .user__popup__content {
  top: 0;
  left: 0;
  z-index: 50;
  opacity: 1;
}
.user__popup__content {
  position: relative;
  top: 0;
  left: -32rem;
  height: 100%;
  transition: all ease-out 0.3s;
}
/*--Стилизуем POP-UP второго уровня в "Бургер-меню" (Выезжающий слайдер влево)--*/
.user__popup__lvl__2 {
  z-index: 5;
  position: fixed;
  height: 100%;
  transition: all 0.5s ease 0s;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}
.user__popup__lvl__2.open {
  background: #fff;
  opacity: 1;
  visibility: visible;
  left: 32rem;
}
.user__popup__lvl__2.open .user__popup__lvl__2__content {
  overflow-y: scroll;
  position: relative;
  background: #fff;
  z-index: 100;
  top: 0;
  transition: left ease-out 0.3s;
  opacity: 1;
}

.button-mar {
  margin-bottom: 15px;
}
.user__popup__lvl__2.open .user__popup__lvl__2__content::-webkit-scrollbar {
  width: 5px; /* ширина всей полосы прокрутки */
}

.user__popup__lvl__2.open
  .user__popup__lvl__2__content::-webkit-scrollbar-track {
  background: transparent; /* цвет зоны отслеживания */
}

.user__popup__lvl__2.open
  .user__popup__lvl__2__content::-webkit-scrollbar-thumb {
  background-color: transparent; /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
  border: 3px solid grey; /* отступ вокруг бегунка */
}
.user__popup__lvl__2__content {
  position: relative;
  height: 100%;
  z-index: 70;
  background: #fff;
  transition: left ease-out 0.3s;
}
/*--Стилизуем POP-UP второго уровня в заказе--*/
.order__popup {
  position: fixed;
  height: 100%;
  z-index: 20;
  top: 0;
  left: 32rem;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.order__popup.open {
  background: #fff;
  opacity: 1;
  visibility: visible;
}
.order__popup.open .order__popup__content {
  position: relative;
  background: #fff;
  z-index: 20;
  top: 0;
  transition: left ease-out 0.3s;
  opacity: 1;
}
.order__popup__content {
  position: relative;
  height: 100%;
  z-index: 20;
  background: #fff;
  transition: left ease-out 0.3s;
}

/*Стилизуем personalaccount.html*/

.profile__img2 {
  width: 97px;
  height: 97px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 40%;
  margin-top: 46px;
}
.profile__name2 {
  font-size: 1.1rem;
  line-height: 22px;
  padding-bottom: 15px;
  margin-top: 1rem;
  border-bottom: 1px solid #5a5959;
}
.favourites {
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 22px;
  padding-bottom: 15px;
  margin-top: 2rem;
  border-bottom: 1px solid #5a5959;
}
.favourites__profile__name {
  font-size: 1.1rem;
  line-height: 22px;
  padding-bottom: 15px;
  margin-top: 1rem;
  border-bottom: 1px solid #5a5959;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
.icon__add__address {
  padding-right: 1rem;
}
.displayed_information {
  margin-top: 7rem;
}
.driver__chat {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}
.chat__title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 36px;
}
.spesh_height {
  height: 150px !important;
}
.car__close-icon {
  transform: rotate(180deg);
}
.drag__container .drag__element {
  z-index: 1;
}
@media (min-width: 767px) {
  .d-3 {
    display: none;
  }
  .image-width-spesh {
    width: 110px;
  }
}
@media (max-width: 1200px) {
  .order__popup {
    left: 0;
  }
  .order__popup.open {
    left: 27rem;
  }
  .app {
    grid-template-columns: 27rem 1fr;
  }
  .app__window {
    width: 27rem;
    padding: 32px 24px;
  }
  .user__popup__lvl__2.open {
    left: 27rem;
  }
}

@media (max-width: 514px) {
  .cardel__buttons {
    gap: 10px !important;
  }
  .cardel__button {
    width: 110px !important;
  }
}
