.popup {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__service__content {
  opacity: 1;
}
.popup__service__content {
  position: relative;
  margin: 0 auto;
  margin-top: 15%;
  width: 35rem;
  background-color: #ededed;
  border-radius: 5px;
  padding: 1.5rem;
  transition: all 0.3s ease 0s;
  opacity: 0;
  color: #000000;
  box-sizing: border-box;
}
.menu__close__popup {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

@media screen and (max-width: 767px) {
  .popup {
  }
  .popup.open {
    opacity: 1;
    visibility: visible;
  }
  .popup.open .popup__service__content {
    opacity: 1;
  }
  .popup__service__content {
    margin-top: 45%;
    width: 90%;
  }
  .menu__close__popup {
  }
}

/* настройки отдельных попапов: */

.beta__main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  padding: 24px;
}
.beta__title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.beta__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
