.vlt_servise.active .servise__name {
  background-color: transparent;
}
.service__icon {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 100;
}
.hearth__icon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 100;
}
.hearth__icon svg {
  width: 24px;
  height: 24px;
}
.vlt_servise_img {
  border-radius: 10px;
  position: relative;
  transform: scale(0.8);
  bottom: -25px;
}
.image__conts {
  display: flex;
  width: 200px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.servise__name {
  transition: all 0.3s ease 0s;
  background-color: rgba(0, 0, 0, 0.6);
  width: 201px;
  height: 150px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
}
.heit {
  height: 100% !important;
}
.servise__namee {
  width: 100%;
  height: 100%;
}
.vlt_servise {
  width: 202px;
}
@media screen and (max-width: 767px) {
  .vlt_servise {
  }
  .vlt_servise.active {
  }
  .service__icon {
  }
}
