.global__brand{
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.choose__brand__block{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 0.5rem;
    border-bottom: 1px solid #C7C7C7;
}
.radio__block strong {
    font-size: 14px;
    color: #333;
    display: inline-block;
    margin-right: 10px;
    letter-spacing: 0.5px;
}

.brand__block input[type="radio"] {
    display: none;
}

.brand__block label {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px solid #C7C7C7;
}

.brand__block input[type="radio"]:checked+label {
    background-color: #000000;
    color: #fff;
    border: 1px solid #050505;
    border-radius: 5px;
    margin-left: -2px;
}

.brand__block label:hover {
    border: 1px solid #ffffff;
}
.btn__block{
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding: 30px 0 15px;
}
.button{
    width: 183px;
    height: 39px;
    background: #000000;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 767px) {
    .brand__block label {      
        padding: 10px 0 11px 6px;
        width: 100%;
    }
    .global__brand1{
        width: 100%;
        height: auto;
        padding: 0px 0px 56px 0px;
    }
}