.car__profile {
    text-align: center;
    padding-bottom: 50px;
    position: relative;
}

.car__img {
    max-width: 100%;
    height: auto;
    width: 234px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.car__name {
    color: #5a5959;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 22px;
}

.car__model {
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
}

.car__copy {
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;
}

.car__option {
    margin-bottom: 25px;
}

.option__top {
    display: flex;
    justify-content: space-between;
}

.option__name {
    width: 60%;
    flex-grow: 1;
}

.option__link {
    width: 40%;
    flex-grow: 1;
    text-align: right;
    font-size: 17px;
    color: #5a5959;
}

.option__link:hover,
.option__link:focus {
    color: #5a5959;
}

.option__copy {
    cursor: pointer;
}

.option__comm {
    font-size: 13px;
    color: #3f3f3f;
    text-transform: uppercase;
}

.osago__comm {
    text-transform: none;
}
@media screen and (max-width: 767px) {


}