.addition {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 7.36px 0.64px rgba(0, 0, 0, 0.39);
    z-index: 199;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.amenities {
    margin-bottom: 35px;
    background-color: #EDEDED;
    border-radius: 5px;
    padding: 30px 30px 17px 30px;
    box-sizing: border-box;
}

.amenities__list {
    margin-bottom: 50px;
}
.amenities__item {
    padding-bottom: 10px;
    border-bottom: 1px solid #C7C7C7;
    box-sizing: border-box;
    margin-bottom: 8px;
    padding-bottom: 5px;
}
.amenities__item:last-child {
    margin-bottom: 0;
    border-bottom: none;
}
.amenities__wrapper {
    display: flex;
    justify-content: space-between;
}
.amenities__name {
    font-size: 18px;
    line-height: 22px;
}
.amenities__trigger {
    display: flex;
    justify-content: center;
    align-items: center;
}
.amenities__button {
    width: 100%;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 9px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    display: block;
    cursor: pointer;
}


/*--*/
.amenities__add {
    color: #C7C7C7;
}
/*--*/

.extensions {
    margin-top: auto;
    margin-bottom: 40px;
}
.extensions__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
}
.extensions__item {
    text-align: center;
}
input[type="checkbox"] {
    display: none;
}
.extensions__checkbox:checked ~ .extensions__button {
    background-color: #000000;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.extensions__checkbox:checked ~ .extensions__park {
    background-image: url("/lk.thevalet.ru/localevalet.ru/local/templates/lk.thevalet.ru/img/layout/park-icon-active.png");
}

.extensions__checkbox:checked ~ .extensions__wash {
    background-image: url("/lk.thevalet.ru/local/templates/lk.thevalet.ru//img/layout/wash-icon-active.png");
}

.extensions__checkbox:checked ~ .extensions__refuel {
    background-image: url("/lk.thevalet.ru/local/templates/lk.thevalet.ru//img/layout/refuel-icon-active.png");
}
.extensions__button {
    display: block;
    border-radius: 50%;
    background-color: #dfdfdf;
    box-shadow: 0px 0px 7.36px 0.64px rgba(0, 0, 0, 0.39);
    width: 72px;
    height: 72px;
    margin-bottom: 13px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}
.extensions__park {
    background-image: url("/lk.thevalet.ru/local/templates/lk.thevalet.ru//img/layout/park-icon.png");
}
.extensions__wash {
    background-image: url("/lk.thevalet.ru/local/templates/lk.thevalet.ru//img/layout/wash-icon.png");
}
.extensions__refuel {
    background-image: url("/lk.thevalet.ru/local/templates/lk.thevalet.ru//img/layout/refuel-icon.png");
}
.extensions__name {
    font-size: 17px;
}





.addition__bottom {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5.5rem;
}

.addition__result {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.result__block {
    border-radius: 10px;
    background-color: #dfdfdf;
    box-shadow: 0px 0px 7.36px 0.64px rgba(0, 0, 0, 0.39);
    width: 48%;
    padding: 17px 16px;
    box-sizing: border-box;
    text-align: center;
}
.addition__button{

}
@media screen and (max-width: 767px) {
    .addition {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding-top: 5rem;
        background-color: #ffffff;
        box-shadow: 0px 0px 7.36px 0.64px rgba(0, 0, 0, 0.39);
        z-index: 199;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .extensions__list {
        grid-gap: 0px;
    }
    .amenities{
        margin-bottom: 0;
    }
}