.service{
    padding-top: 5%;
}
.vlt_servise{
}
.vlt_servise.active{
}
.service__icon{
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 100;
}
.servise__name{
    background: rgba(0,0,0, 0.6);
    width: 202px;
    height: 150px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 15px;
}
@media screen and (max-width: 767px) {
    .vlt_servise{
        
    }
    .vlt_servise.active{
        
    }
    .service__icon{

    }
    .servise__name{
        font-size: 0.7rem;
    }
}